/target
*~
/build
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.ccls-cache
.clangd
.cache/
.vscode/
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
DartConfiguration.tcl
bin/serenec_CXX_cotire.cmake
/config.h

docs/Doxyfile.docs
